.right {
  background-color: rgba(0, 0, 255, 0.2);
}

.disclosure {
  background-color: rgba(0, 255, 0, 0.2);
}

.highlight {
  background-color: rgba(255, 255, 0, 0.2);
}

.obligation {
  background-color: rgba(255, 0, 255, 0.2);
}

.action {
  background-color: rgba(255, 0, 0, 0.2);
}

.right:after, .disclosure:after, .action:after {
  position: absolute;
  left: 102%;
  top: 0;
  color: #777;
}

.right:after { content: '#right'; }

.disclosure:after { content: '#disclosure'; }

.action:after { content: '#action'; }

